:root {
    --red: rgb(255, 99, 132);
    --blue: rgb(54, 162, 235);
    --yellow: rgb(255, 205, 86);
    --light: rgb(255, 255, 255);
    --dark: rgb(0, 0, 0)
}

.bg-red {
    background-color: var(--red);
}

.bg-blue {
    background-color: var(--blue);
}

.bg-yellow {
    background-color: var(--yellow);
}

.text-light {
    color: var(--light);
}

.text-dark {
    color: var(--dark);
}

html{
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3em 3em;
    gap: 6em;
}

.report {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.report > h2 {
    font-size: 3em;
}

.section-divider {
    display: flex;
    width: 100%;
    height: 5px;
    background-color: rgb(80, 80, 80);
}

.chart-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    max-height: 80vh;
}

.single-top {
    color: white;
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 2em;
    padding: 2em 0;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.single-top > h3 {
    font-size: 1.5em;
}

.single-top > h4 {
    font-size: 3em;
}

.single-top > span {
    font-size: 1.5em;
}

.multiple-top {
    color: white;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 2em;
    padding: 2em;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}

.top-box {
    width: 25vw;
    min-width: 350px;
    padding: 6em 3em;
    border-radius: 10px;
}

@media only screen and (max-width: 1200px) {
    .multiple-top {
        justify-content: center;
    }

    .report {
        text-align: center;
    }
  }