.jumbotron {
  padding: 1em 1em;
}

#order-alert {
  display: none;
}

#ingredient-alert {
  display: none;
}

#beverage-alert {
  display: none;
}

#size-alert {
  display: none;
}

.order {
  display: none;
}
