.jumbotron {
  padding: 1em 1em;
}

#order-alert {
  display: none;
}

#ingredient-alert {
  display: none;
}

#size-alert {
  display: none;
}

#beverage-alert {
  display: none;
}

.order {
  display: none;
}

.ingredient-most-requested {
  border: solid 2px black;
  padding: 12px;
  margin-bottom: 10px;
}

.month-highest-revenue {
  border: solid 2px black;
  padding: 12px;
  margin-bottom: 10px;
}

.best-clients {
  border: solid 2px black;
  padding: 12px;
}